# Weekly Deaths in different Countries
There are a lot of deaths occuring almost everyday in each country which is caused by accidents, poverty, diseases (or virus), etc. These deaths were taken down into data from every part of the country so as to understand what causes the deaths and the amount of deaths per week. Now this data is going to go through a process called "Data Wrangling" to clean the data up for its analysis.For this process, I used a python library called "Pandas" which is used majorly in "Data Science" to access files and also perform different operations with it. So i start by importing as 'pd' as an alias to save the stress of typing it in full.

In [1]:
import pandas as pd

Then the next thing is to open the required file using the built in function in pandas which is "read_csv()" to open the file - specifically csv file -to begin the wrangling operation with it, then print the first 5 rows.

In [2]:
file = pd.read_csv('weekly_deaths.csv')
file.head()

,country,region,region_code,start_date,end_date,days,year,week,population,total_deaths,covid_deaths,expected_deaths,excess_deaths,non_covid_deaths,covid_deaths_per_100k,excess_deaths_per_100k,excess_deaths_pct_change
0,Australia,Australia,0,2020-01-01,2020-01-07,7,2020,1,25734100,2497,0.0,2463.111657,33.888343,2497.0,0.0,0.131687,0.013758
1,Australia,Australia,0,2020-01-08,2020-01-14,7,2020,2,25734100,2510,0.0,2458.278324,51.721676,2510.0,0.0,0.200985,0.021040
2,Australia,Australia,0,2020-01-15,2020-01-21,7,2020,3,25734100,2501,0.0,2436.444991,64.555009,2501.0,0.0,0.250854,0.026496
3,Australia,Australia,0,2020-01-22,2020-01-28,7,2020,4,25734100,2597,0.0,2436.611657,160.388343,2597.0,0.0,0.623252,0.065824
4,Australia,Australia,0,2020-01-29,2020-02-04,7,2020,5,25734100,2510,0.0,2425.944991,84.055009,2510.0,0.0,0.326629,0.034648

The next step is to check if we have a Null value in any of the column by using the "isnull()" function.

In [3]:
file.isnull().sum()

country                     0
region                      0
region_code                 0
start_date                  0
end_date                    0
days                        0
year                        0
week                        0
population                  0
total_deaths                0
covid_deaths                0
expected_deaths             0
excess_deaths               0
non_covid_deaths            0
covid_deaths_per_100k       0
excess_deaths_per_100k      0
excess_deaths_pct_change    0
dtype: int64

So since there is no Null value in the data set there is no need of calling the "dropna()" method which is used to drop the row which includes a Null value. If you observe the data, the region and country has the same values, so i'd just remove the 'region' column from the whole data.

In [4]:
file.drop('region',axis=1, inplace=True)
file.head()

,country,region_code,start_date,end_date,days,year,week,population,total_deaths,covid_deaths,expected_deaths,excess_deaths,non_covid_deaths,covid_deaths_per_100k,excess_deaths_per_100k,excess_deaths_pct_change
0,Australia,0,2020-01-01,2020-01-07,7,2020,1,25734100,2497,0.0,2463.111657,33.888343,2497.0,0.0,0.131687,0.013758
1,Australia,0,2020-01-08,2020-01-14,7,2020,2,25734100,2510,0.0,2458.278324,51.721676,2510.0,0.0,0.200985,0.021040
2,Australia,0,2020-01-15,2020-01-21,7,2020,3,25734100,2501,0.0,2436.444991,64.555009,2501.0,0.0,0.250854,0.026496
3,Australia,0,2020-01-22,2020-01-28,7,2020,4,25734100,2597,0.0,2436.611657,160.388343,2597.0,0.0,0.623252,0.065824
4,Australia,0,2020-01-29,2020-02-04,7,2020,5,25734100,2510,0.0,2425.944991,84.055009,2510.0,0.0,0.326629,0.034648

Now to check the whole information about the data set, i use the 'info()' function.

In [5]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11715 entries, 0 to 11714
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   11715 non-null  object
 1   region_code               11715 non-null  object
 2   start_date                11715 non-null  object
 3   end_date                  11715 non-null  object
 4   days                      11715 non-null  int64
 5   year                      11715 non-null  int64
 6   week                      11715 non-null  int64
 7   population                11715 non-null  int64
 8   total_deaths              11715 non-null  int64
 9   covid_deaths              11715 non-null  float64
 10  expected_deaths           11715 non-null  float64
 11  excess_deaths             11715 non-null  float64
 12  non_covid_deaths          11715 non-null  float64
 13  covid_deaths_per_100k     11715 non-null  float64
 14  excess_deaths_per_100k    11715 non-null  float64
 15  excess_deaths_pct_change  11715 non-null  float64
dtypes: float64(7), int64(5), object(4)
memory usage: 1.4+ MB

In [8]:
file.describe()

,days,year,week,population,total_deaths,covid_deaths,expected_deaths,excess_deaths,non_covid_deaths,covid_deaths_per_100k,excess_deaths_per_100k,excess_deaths_pct_change
count,11715.000000,11715.000000,11715.000000,1.171500e+04,11715.000000,11715.000000,11715.000000,11715.000000,11715.000000,11715.000000,11715.000000,11715.000000
mean,6.962441,2020.203927,23.115322,1.115783e+07,2160.281861,249.987751,1872.656236,287.625625,1910.294110,2.144536,2.290059,0.141454
std,0.423756,0.402932,15.789753,2.921175e+07,5860.294477,998.592679,4985.142151,1350.148074,5099.567164,3.341416,4.679702,0.298217
min,2.000000,2020.000000,1.000000,8.466700e+04,3.000000,-270.000000,2.000000,-6361.757322,-1723.000000,-8.803323,-16.019891,-0.823949
25%,7.000000,2020.000000,9.000000,1.359711e+06,279.000000,1.000000,257.175625,-5.531544,253.000000,0.047474,-0.257874,-0.015423
50%,7.000000,2020.000000,20.000000,4.648794e+06,883.000000,24.000000,814.000000,27.073081,805.000000,0.899928,1.141500,0.069270
75%,7.000000,2020.000000,37.000000,8.570146e+06,1624.000000,141.000000,1410.509583,147.225093,1421.500000,2.926926,3.372990,0.204734
max,7.000000,2021.000000,53.000000,3.283005e+08,86388.000000,23481.000000,63308.370990,27036.540028,70504.000000,63.283242,80.863108,6.350086

Since we're already going through cleaning of the data and getting it ready for analysis, we would want to chech if there are any duplicates in the data cells and if there s, we'd drop them out. Now we check that by using the 'duplicated()' method to check if there are duplicates then the 'drop_duplicates()' to drop them. But first of all, we check if duplication is true and if not there is no need to drop duplicates.

In [10]:
file.duplicated().sum()

0

In [11]:
file

,country,region_code,start_date,end_date,days,year,week,population,total_deaths,covid_deaths,expected_deaths,excess_deaths,non_covid_deaths,covid_deaths_per_100k,excess_deaths_per_100k,excess_deaths_pct_change
0,Australia,0,2020-01-01,2020-01-07,7,2020,1,25734100,2497,0.0,2463.111657,33.888343,2497.0,0.000000,0.131687,0.013758
1,Australia,0,2020-01-08,2020-01-14,7,2020,2,25734100,2510,0.0,2458.278324,51.721676,2510.0,0.000000,0.200985,0.021040
2,Australia,0,2020-01-15,2020-01-21,7,2020,3,25734100,2501,0.0,2436.444991,64.555009,2501.0,0.000000,0.250854,0.026496
3,Australia,0,2020-01-22,2020-01-28,7,2020,4,25734100,2597,0.0,2436.611657,160.388343,2597.0,0.000000,0.623252,0.065824
4,Australia,0,2020-01-29,2020-02-04,7,2020,5,25734100,2510,0.0,2425.944991,84.055009,2510.0,0.000000,0.326629,0.034648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11710,United States,USA,2021-03-14,2021-03-20,7,2021,11,317812460,58076,7022.0,58898.357322,-822.357322,51054.0,2.209479,-0.258756,-0.013962
11711,United States,USA,2021-03-21,2021-03-27,7,2021,12,317812460,57996,6938.0,58534.957322,-538.957322,51058.0,2.183048,-0.169583,-0.009207
11712,United States,USA,2021-03-28,2021-04-03,7,2021,13,316020313,55007,9514.0,57810.357322,-2803.357322,45493.0,3.010566,-0.887081,-0.048492
11713,United States,USA,2021-04-04,2021-04-10,7,2021,14,316020313,55265,6684.0,57736.557322,-2471.557322,48581.0,2.115054,-0.782088,-0.042807
11714,United States,USA,2021-04-11,2021-04-17,7,2021,15,316020313,50995,4966.0,57356.757322,-6361.757322,46029.0,1.571418,-2.013085,-0.110916

The next thing to do is to check the unique properties of all the column titles in the data set. And that is done by using the 'nunique()' or 'unique()' method.

In [19]:
file.nunique()

country                        45
region_code                   116
start_date                    281
end_date                      333
days                            3
year                            2
week                           53
population                    178
total_deaths                 3855
covid_deaths                 1348
expected_deaths             11220
excess_deaths               10901
non_covid_deaths             3618
covid_deaths_per_100k        7162
excess_deaths_per_100k      11462
excess_deaths_pct_change    11573
dtype: int64

From the unique properties, we've just two years which is 2020 and 2021 obviously from the dataset. So the records was from 2020 - 2021. From the data as well, it was observed that the rate at which people die due to the SARS-COV19 reduced in 2021 because different supressing drugs came up which could almost cure the virus.

In [20]:
file

,country,region_code,start_date,end_date,days,year,week,population,total_deaths,covid_deaths,expected_deaths,excess_deaths,non_covid_deaths,covid_deaths_per_100k,excess_deaths_per_100k,excess_deaths_pct_change
0,Australia,0,2020-01-01,2020-01-07,7,2020,1,25734100,2497,0.0,2463.111657,33.888343,2497.0,0.000000,0.131687,0.013758
1,Australia,0,2020-01-08,2020-01-14,7,2020,2,25734100,2510,0.0,2458.278324,51.721676,2510.0,0.000000,0.200985,0.021040
2,Australia,0,2020-01-15,2020-01-21,7,2020,3,25734100,2501,0.0,2436.444991,64.555009,2501.0,0.000000,0.250854,0.026496
3,Australia,0,2020-01-22,2020-01-28,7,2020,4,25734100,2597,0.0,2436.611657,160.388343,2597.0,0.000000,0.623252,0.065824
4,Australia,0,2020-01-29,2020-02-04,7,2020,5,25734100,2510,0.0,2425.944991,84.055009,2510.0,0.000000,0.326629,0.034648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11710,United States,USA,2021-03-14,2021-03-20,7,2021,11,317812460,58076,7022.0,58898.357322,-822.357322,51054.0,2.209479,-0.258756,-0.013962
11711,United States,USA,2021-03-21,2021-03-27,7,2021,12,317812460,57996,6938.0,58534.957322,-538.957322,51058.0,2.183048,-0.169583,-0.009207
11712,United States,USA,2021-03-28,2021-04-03,7,2021,13,316020313,55007,9514.0,57810.357322,-2803.357322,45493.0,3.010566,-0.887081,-0.048492
11713,United States,USA,2021-04-04,2021-04-10,7,2021,14,316020313,55265,6684.0,57736.557322,-2471.557322,48581.0,2.115054,-0.782088,-0.042807
11714,United States,USA,2021-04-11,2021-04-17,7,2021,15,316020313,50995,4966.0,57356.757322,-6361.757322,46029.0,1.571418,-2.013085,-0.110916